body {
  background-image: url('data/wallpaper.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  user-select: none;

}

.folder {
    font-family: Tahoma, Geneva, sans-serif;
    width: 5vw;
    
}

.folderCaption {
    text-align: center;
}

.folderImage {
    width: 5vw;
    height: auto;
    cursor: pointer;
}

.folderButton {
    border: none; 
    background: none; 
    padding: 0;
}

.popupBox {
    display: none;
    flex-direction: column;
    position: fixed;
    z-index: 1;
    background-color: #eee9e0;
    width: 50%;
    height: 70%;
    overflow: auto;
    outline: 4px solid #005ae4;
    border-radius: 10px 10px 0px 0px;


}

.iconBar {
    height: 5%;
    width: 100%;
    position: sticky;
    top: 0;
    background: linear-gradient(to bottom, #005ae4, #3399ff);
    
    display: flex;
    justify-content: space-between;
    padding-right: 3px;
}

.leftIcons {
    display: flex;
    align-items: center;
    gap: 5px;
}

.windowTitle {
    font-family: Tahoma, Geneva, sans-serif;
    color: white;
}

.closeButton {
    height: 100%;
    width: auto;
    border: none; 
    background: none; 
    padding: 0;
}

.closeIcon {
    height: 100%;
    width: auto;
    cursor: pointer;
    
}

.tinyFolder {
    height: 100%;
    width: auto;
}

.popupBody {
    display: flex;
    flex-direction: row;
}


.resumeImage {
    width: 100%;
    height: auto;
}