body {
  background-image: url('wallpaper.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  user-select: none;

}

.folder {
    font-family: Tahoma, Geneva, sans-serif;
    width: 5vw;
    
}

.folderCaption {
    text-align: center;
}

.folderImage {
    width: 5vw;
    height: auto;
    cursor: pointer;
}

.folderButton {
    border: none; 
    background: none; 
    padding: 0;
}

.popupBox {
    display: none;
    position: fixed;
    z-index: 1;
    background-color: white;
    width: 50%;
    height: 70%;
    overflow: auto;
    outline: 6px solid #005ae4;
    border-radius: 10px 10px 0px 0px;

    
    

}

.iconBar {
    height: 5%;
    width: 100%;
    background-color: #005ae4;
    display: flex;
    justify-content: space-between;
    padding-right: 3px;
}

.leftIcons {
    display: flex;
    align-items: center;
    gap: 5px;
}

.windowTitle {
    font-family: Tahoma, Geneva, sans-serif;
    color: white;
}

.closeButton {
    height: 100%;
    width: auto;
    border: none; 
    background: none; 
    padding: 0;
}

.closeIcon {
    height: 100%;
    width: auto;
    cursor: pointer;
    
}

.tinyFolder {
    height: 100%;
    width: auto;
}
